.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.footer-logo__web {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  color: $color-accent;
}

.footer-logo__second {
  font-family: 'Raleway', sans-serif;
  color: $color-white;
  font-style: normal;
}
