.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: $color-white;

  &__container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding: 48px 40px;

    @media screen and (min-width: $mobile) {
      width: $mobile;
    }
  }

  &.is-open {
    display: block;
  }

  &__close-button {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    position: absolute;
    top: 10px;
    right: 15px;

    &:hover,
    &:focus {
      fill: $color-accent;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item:not(:last-child) {
    padding-bottom: 32px;
  }

  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.15;
    letter-spacing: 0.02em;

    color: $color-title;
    text-decoration: none;
    transition: color 250ms $transition-effect;

    &:hover,
    &:focus {
      color: $color-accent;
    }
    &--current {
      color: $color-accent;
      transition: color 250ms $transition-effect;
      left: 0;

      &:hover,
      &:focus {
        color: $color-title;
      }
    }
  }
  &__contacts {
    margin-top: 0;
    margin-bottom: 64px;
    padding: 0;
  }
  &__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: $color-accent;
    text-decoration: none;
  }

  &__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: $color-text;
    text-decoration: none;
  }
}

.socials {
  display: flex;
  padding: 0;
  margin: 0;

  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $color-accent;
  }

  &__line {
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-left: 10px;
    margin-right: 10px;
  }
}
