.filter {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: start;
  margin-bottom: 40px;
  gap: 8px;
  row-gap: 15px;
  padding-left: 0;
  margin-top: 0;

  @media screen and(min-width:$tablet) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and(min-width:$desktop) {
    margin-bottom: 50px;
  }
}

.filter__item {
  @media screen and(max-width:$tablet) {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.filter__button {
  display: block;
  background: $color-background-third;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.35;
  letter-spacing: 0.03em;
  border: none;
  transition: color 250ms $transition-effect, background-color 250ms $transition-effect,
    box-shadow 250ms $transition-effect;

  &:nth-child(1) {
    padding: 6px 22px;
  }

  &:hover,
  &:focus {
    background-color: $color-accent;
    color: $color-white;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

.projects {
  display: block;
  margin: 0;
  padding-left: 0;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.project {
  width: 100%;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 60px) / 3);
  }
}

.project__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  transition: box-shadow 250ms $transition-effect;

  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .project__overlay,
  &:focus .project__overlay {
    transform: translateY(0);
  }
}

.project__thumb {
  position: relative;
  width: 100%;
  overflow: hidden;

  @media screen and (max-width: 479px) {
    width: auto;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}

.projects__image {
  display: block;
  width: 100%;
  height: auto;
}

.project__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 24px;
  top: 0%;
  overflow-y: scroll;

  font-size: 18px;
  line-height: 1.56;
  background-color: $color-accent;
  color: $color-white;

  transform: translateY(150%);
  transition: transform 250ms $transition-effect;

  .project__link:hover &,
  .project__link:focus & {
    transform: translateY(0%);
  }

  @media screen and (min-width: 320px) and (max-width: 359px) {
    padding: 24px;
    font-size: 14px;
  }

  @media screen and (min-width: 360px) and (max-width: 439px) {
    padding: 40px 24px;
    font-size: 16px;
  }

  @media screen and (min-width: 440px) and (max-width: 479px) {
    padding: 60px 24px;
    font-size: 18px;
  }

  @media screen and (min-width: 480px) {
    padding: 77px 24px;
  }

  @media screen and (min-width: 768px) {
    padding: 49px 24px 77px 24px;
  }

  @media screen and (min-width: 1200px) {
    padding: 63px 24px;
  }
}

.project__label {
  display: block;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  color: $color-white;
  margin: 0;

  @media screen and (min-width: $mobile) {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 350px) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.produkts {
  padding: 20px 24px;
  flex-grow: 1;
  border-right: 1px solid $color-portfolio;
  border-bottom: 1px solid $color-portfolio;
  border-left: 1px solid $color-portfolio;
}

.produkts__title {
  color: $color-title;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 4px;
}

.produkts__text {
  color: $color-text;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  margin: 0;
}
